extend layout2
block content
    
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/imagine2014antioquia').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle COFFAGER

    .container 
        .col-xs-12
            .col-md-2.col-md-offset-1.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/cof1.png", alt="")
                p(style='margin-top:15%;') Juan M. Calle
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/cof2.png", alt="")
                p(style='margin-top:15%;') Andres Alzáte
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/cof3.png", alt="")
                p(style='margin-top:15%;') David Vélez
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/cof4.png", alt="")
                p(style='margin-top:15%;') Juan Agualimpia
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/cof5.png", alt="")
                p(style='margin-top:15%;') Yorman Murillo


    
    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-xs-12(style= 'margin-top:5%;')
                iframe.ipod(src="https://app.conceptinbox.com/embed/5440b24666134cc47f737981" width='360' height='640' frameborder=0 scrolling='no' style='background-image:url(img/back)')
            .frameBack
                .circle

                   

