extend layout2
block content
  
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12
            a(href='/imagine2014antioquia').heroTittle IMAGINE CAMP ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle FLYLINE

    .container 
        .col-md-12.espacio
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/fly1.png", alt="")
                p(style='margin-top:15%;') Cárlos Jaramillo
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/fly2.png", alt="")
                p(style='margin-top:15%;') Iván Villada
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/fly3.png", alt="")
                p(style='margin-top:15%;') César Asprilla
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/fly4.png", alt="")
                p(style='margin-top:15%;') Sebastián Arroyave
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/fly5.png", alt="")
                p(style='margin-top:15%;') Valeria Grajales
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/fly6.png", alt="")
                p(style='margin-top:15%;') Jacobo Castañeda


    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-sm-6.grupoEsp
                img.img-responsive.logo(style = 'opacity:;' src="/img/Fly Line-01.png") 
                p.descripcion ¿Cansado de las filas? Sáltatelas con Flyline fácil y rápidamente. LLegas a la fila, escaneas tu turno y te vas a pasear. Tranquilo, nosotros te avisamos cuando es tu turno. Vuelve y recibe tu producto o servicio. Asi de facil, sáltate la fila.  
                
                hr
                a.btn.btn-xs#fly(role="button", alt="Planear", data-toggle="modal", data-target="#flyModal", href="#flyModal",data-dismiss="modal") 
                    span.glyphicon.glyphicon-play
                    p VER PRESENTACIÓN   

            .col-sm-6.grupoEsp
                iframe.ipod(src="https://app.conceptinbox.com/embed/5440cd5366134cfd0773795e" width='270' height='480' frameborder=0 scrolling='no')
            .frameBack

         <!-- Plan Modal -->
        .modal.fade#flyModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            .modal-dialog
                                    
                    iframe.video.center-block( src="//www.youtube.com/embed/UCdoY47qUg0" frameborder=0 allowfullscreen)


    
