extend layout2
block content
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/med').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle HAV Tourism

    .container 
        .col-xs-12
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/hv7.png", alt="")
                p(style='margin-top:15%;') Salomé Piedrahita
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/hv2.png", alt="")
                p(style='margin-top:15%;') Germán Sánchez 
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/hv3.png", alt="")
                p(style='margin-top:15%;') Richard Medina
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/hv4.png", alt="")
                p(style='margin-top:15%;') Julián Echeverry
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/hv5.png", alt="")
                p(style='margin-top:15%;') Santiago Botero
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/hv6.png", alt="")
                p(style='margin-top:15%;') Camila Molina 

    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-xs-12(style= 'margin-top:5%;')
                iframe.ipod(src="https://app.conceptinbox.com/embed/5440d9de66134cdd09737969" width='360' height='640' frameborder=0 scrolling='no' style='background-image:url(img/back)')
            .frameBack
                .circle


    
