extend layout2
block content
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/imagine2014antioquia').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle JAI ANTIOQUIA

    .container 
        .col-xs-12
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/jai1.png", alt="")
                p(style='margin-top:15%;') David Cortés
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/jai2.png", alt="")
                p(style='margin-top:15%;') Monica Ortíz
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/jai3.png", alt="")
                p(style='margin-top:15%;') Estefanía Murillo
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/jai4.png", alt="")
                p(style='margin-top:15%;') Elizabeth Patiño
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/jai5.png", alt="")
                p(style='margin-top:15%;') Heylin Aguirre
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/jai6.png", alt="")
                p(style='margin-top:15%;') Luis Martinez


    
    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-xs-12(style= 'margin-top:5%;')
                iframe.ipod(src="https://app.conceptinbox.com/embed/54412ad366134ce821737992" width='360' height='640' frameborder=0 scrolling='no' style='background-image:url(img/back)')
            .frameBack
                .circle

