extend layout2
block content
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/med').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle LIBERTAPP

    .container 
        .col-xs-12
            .col-md-2.col-md-offset-1.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/libertad1.png", alt="")
                p(style='margin-top:15%;') Santiago Parra
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/libertad2.png", alt="")
                p(style='margin-top:15%;') Mateo Alvarez 
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/libertad3.png", alt="")
                p(style='margin-top:15%;') Salomé Loaiza
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/libertad4.png", alt="")
                p(style='margin-top:15%;') Michael Múnera
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/libertad5.png", alt="")
                p(style='margin-top:15%;') Jorge Pulgarin


    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-xs-12(style= 'margin-top:5%;')
                iframe.ipod(src="https://app.conceptinbox.com/embed/5441251066134c8d21737965" width='360' height='640' frameborder=0 scrolling='no' style='background-image:url(img/back)')
            .frameBack
                .circle


