extend layout2
block content
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/imagine2014antioquia').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle THE PUBLISH COMPANY

    .container 
        .col-md-12.espacio
            .col-sm-2.col-sm-offset-1.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/pub1.png", alt="")
                p(style='margin-top:15%;') Santiago Agudelo
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/pub2.png", alt="")
                p(style='margin-top:15%;') Marlon Cano
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/pub3.png", alt="")
                p(style='margin-top:15%;') Jóse Arias
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/pub4.png", alt="")
                p(style='margin-top:15%;') Valentina Paniagua
            .col-sm-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/pub5.png", alt="")
                p(style='margin-top:15%;') Diego Henao


    
    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-sm-6.grupoEsp
                img.img-responsive.logo(style = 'opacity:;' src="/img/The Publish Company-01.png") 
                p.descripcion ¿Pocos recursos para hacer publicidad? 
                p.descripcion Para The Publish Company eso no es problema. Has crecer tu negocio a través de esta plataforma exclusivamente para los microempresarios de todos los municipios de Antioquia. The Publish Company abre un espacio de publicidad y desarrolla un directorio de empresas. De ésta manera hacemos más estrecha la relación de quién quiere comprar con quién quiere vender.
                hr
                a.btn.btn-xs#pub(role="button", alt="Planear", data-toggle="modal", data-target="#pubModal", href="#pubModal",data-dismiss="modal") 
                    span.glyphicon.glyphicon-play
                    p VER PRESENTACIÓN   

            .col-sm-6.grupoEsp
                iframe.ipod(src="https://app.conceptinbox.com/embed/5440a7ca66134c027e73798c" width='270' height='480' frameborder=0 scrolling='no')
            .frameBack
               

            

         <!-- Plan Modal -->
        .modal.fade#pubModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            .modal-dialog
                                    
                    iframe.video.center-block( src="//www.youtube.com/embed/vXVGzUDykQk" frameborder=0 allowfullscreen)
