extend layout2
block content
    .full.titulo(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/med').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle SEXXI

    .container 
        .col-xs-12
            .col-md-2.col-md-offset-1.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/sexxi1.png", alt="")
                p(style='margin-top:15%;') Gabriel Martínez
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/sexxi2.png", alt="")
                p(style='margin-top:15%;') Jonathan Suaza
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/sexxi3.png", alt="")
                p(style='margin-top:15%;') Carolina Zapata
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/sexxi4.png", alt="")
                p(style='margin-top:15%;') Natalia Tobón
            .col-md-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/sexxi5.png", alt="")
                p(style='margin-top:15%;') Edwin Flórez


    
    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-xs-12(style= 'margin-top:5%;')
                iframe.ipod(src="https://app.conceptinbox.com/embed/5440c06066134c210473799e" width='360' height='640' frameborder=0 scrolling='no' style='background-image:url(img/back)')
            .frameBack
                .circle

