extend layout2
block content
    .full.titulo(style= 'height:80px; text-align: center; margin-top:50px; ' )
        .col-xs-12(style= 'margin-top:2%;')
            a(href='/imagine2014antioquia').heroTittle CAMPAMENTO IMAGINE ANTIOQUIA 2014

    .full.titulo2(style= 'height:80px; text-align: center; ' )
        .col-xs-12(style= 'margin-top:2%;')
            p.heroTittle THE TOURISM GAME

    .container 
        .col-xs-12
            .col-xs-2.col-md-offset-1.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/tourist1.png", alt="")
                p(style='margin-top:15%;') Johan S. Agudelo
            .col-xs-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/tourist2.png", alt="")
                p(style='margin-top:15%;') Cristian Moncada
            .col-xs-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/tourist3.png", alt="")
                p(style='margin-top:15%;') Alexis Valencia
            .col-xs-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/tourist4.png", alt="")
                p(style='margin-top:15%;') Yeison Builes
            .col-xs-2.foto(style='text-align:center;')
                img.circle-image.img-responsive.center-block(src="/img/tourist5.png", alt="")
                p(style='margin-top:15%;') Edwin Álvarez


    
    .full(style= 'height:900px; text-align: center; ' )
        .container
            .col-xs-12(style= 'margin-top:5%;')
                iframe.ipod(src="https://app.conceptinbox.com/embed/5440cae066134ce6067379b2" width='360' height='640' frameborder=0 scrolling='no' style='background-image:url(img/back)')
            .frameBack
                .circle


   