@font-face {
    font-family: 'sanserifficregular';
    src: url('/css/fonts/sanseriffic-webfont.eot');
    src: url('/css/fonts/sanseriffic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/sanseriffic-webfont.woff') format('woff'),
         url('/css/fonts/sanseriffic-webfont.ttf') format('truetype'),
         url('/css/fonts/sanseriffic-webfont.svg#sanserifficregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'utsaahregular';
    src: url('/css/fonts/utsaah-webfont.eot');
    src: url('/css/fonts/utsaah-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/utsaah-webfont.woff') format('woff'),
         url('/css/fonts/utsaah-webfont.ttf') format('truetype'),
         url('/css/fonts/utsaah-webfont.svg#utsaahregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'camptonsemibold';
    src: url('/css/fonts/campton.semibold-webfont.eot');
    src: url('/css/fonts/campton.semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/campton.semibold-webfont.woff') format('woff'),
         url('/css/fonts/campton.semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/campton.semibold-webfont.svg#camptonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}





body{
    font-family: 'utsaahregular';
    height: 100%;
    background-image:url("/img/back.png") !important;

}



/*-- Loader --*/
#loader {
    opacity: 1;
    position: fixed;
    overflow: hidden;
    z-index: 999999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none no-repeat fixed center center #000000;
}

#loading {
    z-index: 999999;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    background: url('../img/can1.gif') no-repeat scroll 0% 0% / 90px 90px transparent;
}


.logo {

float: none;
margin: 1% auto 0;
width:100%;

}

.logo1{
float: none;
margin: 1% auto 0;


}


.formTaller{
    height:80px; 
    background:#fff; 
    border-bottom: solid #EC008C;
    margin-top: 40% !important; 
    font-family: 'camptonsemibold'; 
    text-align: center; 
    font-size: 1em; 
    color:rgba(81, 81, 81, 0.6);
    line-height: 100%;


}

.formBody{
    height:400px; 
    background:rgba(255, 255, 255, 0.2); 
    
}

.op{
  margin-top: 1%; 
}


.background {
position:absolute;
top: 0; 
left: 0;
height: 100%; 
width: 100%; 
overflow: hidden;
margin: 0;
padding: 0;
z-index: -1; 

}

.hero{
font-family: 'sanserifficregular';
font-size: 0.9em;
color: #E7E7E7;
letter-spacing: 0.1em;
text-align: center;
margin: 0.5% auto 0;

}


.intro{
font-family: 'utsaahregular';
font-size: 1em;
color: #E7E7E7;
text-align: center ; 
margin-top: 1%; 
text-align: justify;

}


.intro2{
font-family: 'utsaahregular';
font-size: 1.2em;
color: #333;
text-align: center ; 
margin-top: 1%; 
text-align: justify;

}

.formulario{
font-family: 'utsaahregular';
font-size: 1.2em;
color: #C5196E;
margin-top: 2%; 
text-align: justify;

}

.boton{

	font-family: 'sanserifficregular';
    color: #FFF;
    background: #C5196E;
    font-size: ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 100%; 
    
}

.copy{

    margin-top: 0px; 
}

.texto{

    color: #4F4F50;
    font-size: 0.8em; 
    font-family: 'sanserifficregular';
    letter-spacing: 0.1em;
    font-weight: 900;
}

.link:hover{

    color: #fff; 
    text-decoration: none; 

}

.link:visited {

    color: #fff; 
    text-decoration: none !important; 

}

@media (max-width: 1120px){
    .btn-lg{
        font-size: 14px; 
    }
}

@media (max-width: 992px){
    
    .boton{
        width: 90%;
        margin-left: 5%
    }
    .logo1{
        ;width: 50%
    }
    .logo{
        width: 100%;

    }

    .imagine{
        width: 30%;
    }
    

}


@media (max-width: 767px){

    .
}



@media (max-width: 480px){
    .logo{
        width: 100%;
    }
    .boton{
        width: 90%;
        margin-left: 5%
    }

    .logo1{
        ;width: 100%
    }
    .imagine{
        width: 45%;
    }

    
}

}

