extend layoutdb
block content

	.full.breadDb
		.col-xs-12
			p Home Dashboard
	

	.container

		.col-xs-12.menuDb

			.col-xs-4
				.menuDbBtn.col-xs-12
					a(href="#") 
						img.img-responsive(src="/img/pillow_logo-02.svg")

			.col-xs-4
				.menuDbBtn
					a(href="#") 
						img.img-responsive(src="/img/pillow_logo-01.svg")

			.col-xs-4
				.menuDbBtn
					a(href="#")
						img.img-responsive(src="/img/pillow_logo-01.svg")

		.col-xs-12
			.pull-left(style="margin-top:10px; margin-bottom: 20px; ")
				.col-md-12
					.btn-group  
						a.btn.btn-sm.btn-success(type="button" href="/db/new" role="button") 
							span.glyphicon.glyphicon-plus 
							|   Agregar Usuario   

			.col-xs-12
				.panel.panel-default  
					.panel-body
						table.table.table-condensed.table-hover
								thead
									tr
										th.ta Correo Electronico
										th.ta Nombres
										th.ta Apellidos
										th.ta Telefono
										th.ta Eje Comercial 
										th.ta Sub eje 
										th.ta Origen

								tbody.list
									tr
										td nathaliealvarez0309@hotmail.com
										td Nathalie 
										td Alvarez Bernal 
										td 
										td Pillow Acad 
										td Generico 
										td LndngWeb  


									
