doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PILLOW CLIENT | #{title}

    meta(name="description",content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="favicon.png" rel="shortcut icon" type="image/png")  
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/db.css", rel="stylesheet")
    link(href="/css/stylesMed.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")

    
  body
      
    navbar.dbLine.navbar-fixed-top
        .navbar-header.col-xs-12
            .col-xs-9.dash
                p PILLOW CLIENT DASHBOARD


    block content
                